*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* In CSS */

/* for class selector */
.myclass{
    border: 2px solid black;
}
.myheading{
    background-color: blueviolet;
    color: white;
}
.myparagraph{
    background-color: darkorange;
    color: black;
}

/* for id selector */
#myid{
    border: 2px solid black;
}
#myheading{
    background-color: blueviolet;
    color: white;
}
#myparagraph{
    background-color: darkorange;
    color: black;
}


/* for element selector */
/* div{
    border: 3px red solid;
}
h1{
    color: black;
    background-color: aqua;
}
p{
    color: red;
} */


/* Padding and Margin */
.parent{
    background-color: grey;
    height: 500px;
    width: 500px;
    margin: 100px auto;
}
.Margin{
    background-color: black;
    height: 300px;
    width: 300px;
    margin: 10px;
    
}